/* Supports weights 100-900 */
@import "@fontsource/raleway";
@import "@fontsource/roboto";
/* Supports weights 100-700 */
@import "@fontsource/josefin-sans";

body,
html {
  font-family: "Raleway", "Josefin Sans", "Roboto", "Verdana", "Geneva",
    "Tahoma", sans-serif;
  background-color: #f5f5f5;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0px;
}

.detail-image {
  width: 729px;
  height: 742px;
}

.navbar-text {
  padding-left: 0.5rem;
}

.hero-banner-img {
  position: absolute;
  right: 40px;
  top: 0px;
  width: 555px;
  height: auto;
  /* margin-top: -15px; */
  padding-left: 50px;
  padding-top: 28px;
}

.exercise-card {
  width: 400px;
  height: 477px;
  background: #fff;
  border-top: 4px solid #ff2625;
  border-bottom-left-radius: 20px;
  text-decoration: none;
  cursor: pointer;
  pointer-events: all;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 10px;
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}

.exercise-card img {
  height: 326px;
}

.exercise-card:hover,
.bodyPart-card:hover {
  transform: scale(1.1, 1.1);
}

.exercise-card-name {
  text-align: center;
  color: #ff2625;
  margin-top: 5px;
  padding-bottom: 5px;
  text-transform: capitalize;
  text-decoration: none;
  cursor: pointer;
  pointer-events: all;
  height: 82px;
  align-items: center;
}

.exercise-card-btn {
  pointer-events: none;
}

.button-group {
  display: flex;
  justify-content: center;
}

.button-group .icon {
  width: 43px;
  height: 43px;
  justify-content: center;
}

@media screen and (max-width: 1200px) {
  .detail-image {
    width: 300px;
    height: 300px;
  }

  .react-horizontal-scrolling-menu--scroll-container {
    width: 500px;
  }

  .left-arrow,
  .right-arrow {
    position: static !important;
  }

  .hero-banner-img {
    display: none;
  }

  .exercise-card {
    width: 320px;
  }
}

@media screen and (max-width: 400px) {
  .exercise-card {
    width: 280px;
  }
}
